
hw3/result
hw3/aug_image
hw3/checkpoints
hw3/tensorboard
.ipynb*

hw5/data
hw5/glove
hw5/models
*.pdf
*.pptx
*.ckpt
*.zip

practice_v5/data/*
practice_v5/glove.6B.50d.txt


hw4/data/*
hw4/glove.6B.50d.txt
hw4/models/*